RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# Bloquear todo el tráfico por defecto
Order Deny,Allow
Deny from all

# Permitir solo las IPs especificadas
Allow from 161.10.36.114
Allow from 186.27.216.95
Allow from 190.99.219.189

# Redirigir los accesos no permitidos a la página 403 personalizada
ErrorDocument 403 /src/views/403.php

<FilesMatch "\.(css|js|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf)$">
    Require all granted
</FilesMatch>
